/* Reset base styling for padding/margins */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background: #fff;
  height: 100%;
  min-width: 400px;
  font-size: 14px;
  color: #222;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-direction: column;
}

/* Header positioning */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  height: 60px;
}

/* Couldn't think of a more creative way to name these but left & right */
.header-left {
  display: inherit;
  align-items: center;
}
.header-left a:first-child {
  margin-left: 15px;
}

.header-left a,
.header-right a,
.buttons {
  margin: 0 5px;
  padding: 5px;
}

.header-right a {
  opacity: 0.87;
  font-size: 13px;
}
.header-right {
  display: inherit;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* mmm Waffles */
.waffle {
  height: 24px;
  width: 24px;
  color: #222;
}
.waffle-container {
  padding: 6px;
}
.waffle-container:hover {
  cursor: pointer;
  background: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
}

.btn {
  background: #1a73e8;
  border: 1px solid transparent;
  color: #fff;
  padding: 9px 23px;
  margin: 0 8px;
  border-radius: 5px;
  min-width: 96px;
  line-height: 16px;
  font-size: 14px;
}

.btn:hover {
  background: #2b7de9;
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

/* Google Image div styles */
.img-container {
  height: 290px;
  min-height: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 290px;
  flex-shrink: 0;
}

.img-container img {
  margin-top: auto;
}

/* Search Bar Styles */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  margin-top: 20px;
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 582px;
  height: 44px;
  border: 1px rgb(223, 225, 229) solid;
  border-radius: 25px;
}

.searchbar svg {
  width: 24px;
  height: 24px;
  margin: 0 15px;
}

.srch-icon {
  width: 20px;
  margin: 0 15px;
  filter: grayscale(50%);
}

#search-bar {
  width: 490px;
  height: 34px;
  font-size: 16px;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

#search-bar:focus-visible {
  outline: none;
}

/* Search Buttons (under search bar) */
.search-buttons {
  margin-top: 25px;
  display: block;
}

.search-buttons .srch-btn {
  display: inline-block;
  text-align: center;
  padding: 0 16px;
  margin: 11px 4px;
  height: 36px;
  font-size: 14px;
  font-family: "Roboto", arial, sans-serif;
  display: inline-block;
  line-height: 27px;
  border: none;
  background-color: #f8f9fa;
  color: #3c4043;
  border-radius: 4px;
}

.search-buttons .srch-btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
  box-sizing: border-box;
  margin: 11px 3px;
  color: rgba(0, 0, 0, 0.87);
}
